{% load page_blocks blueprint_tags static %}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/puzzle.css' %}">

    <title>
        {% site_name %} : {{ name }} - {% page_description %}
    </title>
</head>

<body>

{% spaceless %}
    {% page blocks %}
{% endspaceless %}

</body>