<template>
  <div class="selector">
    <FontAwesomeIcon :icon="faTimes" class="close" @click="$emit('close')" />

    <div class="selector-container">
      <div class="selector-button" @click="addBlock(column)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/columns-100.png')"
        ></div>
        <p>column</p>
      </div>

      <div class="selector-button" @click="addBlock(row)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/row-100.png')"
        ></div>
        <p>row</p>
      </div>

      <div class="selector-button" @click="addBlock(markdown)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/markdown-100.png')"
        ></div>
        <p>markdown</p>
      </div>

      <div class="selector-button" @click="addBlock(image)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/picture-100.png')"
        ></div>
        <p>image</p>
      </div>

      <div class="selector-button" @click="addBlock(raw_html)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/html-100.png')"
        ></div>
        <p>raw html</p>
      </div>

      <div class="selector-button" @click="addBlock(link)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/link-96.png')"
        />
        <p>link</p>
      </div>

      <div class="selector-button" @click="addBlock(string)">
        <div
          class="icon"
          style="background-image: url('/static/img/icons/button-100.png')"
        />
        <p>string</p>
      </div>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faTimes } from "@fortawesome/free-solid-svg-icons";

import BlockTypes from "./block_types";
import { blockConstructor } from "./utils";

export default {
  props: {
    callback: {
      type: Function,
      required: true
    }
  },

  components: {
    FontAwesomeIcon
  },

  computed: {
    faTimes() {
      return faTimes;
    },

    // Block Types
    column() {
      return BlockTypes.COLUMN;
    },
    row() {
      return BlockTypes.ROW;
    },
    link() {
      return BlockTypes.LINK;
    },
    markdown() {
      return BlockTypes.MARKDOWN;
    },
    image() {
      return BlockTypes.IMAGE;
    },
    raw_html() {
      return BlockTypes.RAW_HTML;
    },
    string() {
      return BlockTypes.STRING;
    }
  },

  methods: {
    addBlock(blockType) {
      this.callback(blockConstructor(blockType));
      this.$emit("close");
    }
  }
};
</script>
