<template>
  <div class="editor">
    <div class="toolbar">
      <div class="mode" @click="onChangeMode">
        <FontAwesomeIcon
          :class="[
            'icon',
            { 'icon-active': editMode, 'icon-inactive': viewMode }
          ]"
          :style="{ left: '0.5em' }"
          :icon="faPencil"
        />
        <FontAwesomeIcon
          :class="[
            'icon',
            { 'icon-active': viewMode, 'icon-inactive': editMode }
          ]"
          :style="{ right: '0.5em' }"
          :icon="faEye"
        />
        <div
          class="mode-selector"
          :style="viewMode ? 'left: 1.5em;' : 'left: 0;'"
        ></div>
      </div>

      <div>
        <a class="button" @click="onSave">
          <FontAwesomeIcon :icon="faSave" />
        </a>
      </div>
    </div>

    <div :class="['page', { 'page-edit': editMode }]">
      <a
        v-if="editMode"
        class="add-block"
        style="top: 3.5em; left: 50%; transform: translate(-50%, 50%); z-index: 10"
        @click="onAddBlock(0)"
      >
        <FontAwesomeIcon :icon="faPlus" />
      </a>

      <div v-for="(block, index) in blocks" style="position: relative">
        <PageBlock
          :key="'block_' + index"
          :mode="mode"
          :type="block.type"
          :index="index"
          :parent-length="blocks.length"
          @addBlock="onSetAddBlockCallback"
          @moveUp="onMoveBlockUp"
          @moveDown="onMoveBlockDown"
          @delete="onRemoveBlock"
          @edit=""
        />
        <a
          v-if="editMode"
          class="add-block"
          style="bottom: 0; left: 50%; transform: translate(-50%, 50%); z-index: 10"
          @click="onAddBlock(index + 1)"
        >
          <FontAwesomeIcon :icon="faPlus" />
        </a>
      </div>
    </div>

    <BlockChooser
      v-if="showBlockChooser"
      :callback="addBlockCallback"
      @close="showBlockChooser = false"
    />

    <!-- <div class="sidebar"> -->
    <!--   <p>Block settings</p> -->
    <!--   <p>Dimensions</p> -->
    <!--   <p>Typography</p> -->
    <!--   <p>Justify content</p> -->
    <!--   <p>Position</p> -->
    <!--   <p>Background</p> -->
    <!--   <p>Border</p> -->
    <!--   <p>Color</p> -->
    <!--   <p>Margin</p> -->
    <!--   <p>Padding</p> -->
    <!--   <p>Shadow</p> -->
    <!--   <p>Classes id</p> -->
    <!--   <p>Transition</p> -->
    <!--   <p>Transform</p> -->
    <!-- </div> -->
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faEye,
  faPencilAlt,
  faPlus,
  faSave
} from "@fortawesome/free-solid-svg-icons";
import api from "api";
import qs from "querystringify";

import BlockChooser from "./block-chooser";

import BlockTypes from "./block_types";
import EditMode from "./edit-mode";
import PageBlock from "./pageblock";

export default {
  data() {
    return {
      action: "",
      addBlockCallback: null,
      blockIndex: 0,
      blocks: [],
      id: 0,
      mode: EditMode.EDIT_MODE,
      object: {},
      saving: false,
      showBlockChooser: false,
      type: "",
      user: {}
    };
  },

  components: {
    BlockChooser,
    PageBlock,
    FontAwesomeIcon
  },

  computed: {
    editMode() {
      return this.mode === EditMode.EDIT_MODE;
    },
    viewMode() {
      return this.mode === EditMode.VIEW_MODE;
    },

    faEye() {
      return faEye;
    },
    faPencil() {
      return faPencilAlt;
    },
    faPlus() {
      return faPlus;
    },
    faSave() {
      return faSave;
    },

    // Block Types

    column() {
      return BlockTypes.COLUMN;
    },
    row() {
      return BlockTypes.ROW;
    },
    string() {
      return BlockTypes.STRING;
    },
    markdown() {
      return BlockTypes.MARKDOWN;
    },
    image() {
      return BlockTypes.IMAGE;
    },
    raw_html() {
      return BlockTypes.RAW_HTML;
    }
  },

  methods: {
    addBlock(block) {
      this.blocks.splice(this.blockIndex, 0, block);
    },

    builObject() {
      if (this.type === "page") {
        return {
          ...this.object,
          created_by: this.user.id,
          data: {
            ...this.object.data,
            blocks: this.blocks
          },
          description: "No description"
        };
      }
      return {
        ...this.object,
        created_by: this.user.id,
        data: {
          ...this.object.data,
          blocks: this.blocks
        }
      };
    },

    fetchPage() {
      api.pages.get(this.id).then(data => {
        this.object = data;
      });
    },

    fetchView() {
      api.views.get(this.id).then(data => {
        this.object = data;
      });
    },

    initialize() {
      if (this.action === "edit") {
        if (this.type === "page") {
          this.fetchPage();
        } else {
          this.fetchView();
        }
      }
    },

    onAddBlock(index) {
      this.blockIndex = index;
      this.showBlockChooser = true;
      this.addBlockCallback = this.addBlock;
    },

    onChangeMode() {
      this.mode = this.editMode ? EditMode.VIEW_MODE : EditMode.EDIT_MODE;
    },

    onMoveBlockDown(index) {
      console.log("move down");
      if (index >= this.blocks.length - 1) return;

      const nextBlock = this.blocks[index + 1];
      const currentBlock = this.blocks[index];

      this.blocks = this.blocks.map((block, idx) => {
        if (idx === index + 1) return currentBlock;
        else if (idx === index) return nextBlock;
        else return block;
      });
    },

    onMoveBlockUp(index) {
      if (index === 0) return;

      const lastBlock = this.blocks[index - 1];
      const currentBlock = this.blocks[index];

      this.blocks = this.blocks.map((block, idx) => {
        if (idx === index - 1) return currentBlock;
        else if (idx === index) return lastBlock;
        else return block;
      });
    },

    onRemoveBlock(index) {
      this.blocks.splice(index, 1);
    },

    onSave() {
      if (this.type === "page") {
        if (this.action === "edit") {
          this.saveExistingPage(this.id);
        } else {
          this.saveNewPage();
        }
      } else {
        if (this.action === "edit") {
          this.saveExistingView(this.id);
        } else {
          this.saveExistingView();
        }
      }
    },

    onSetAddBlockCallback(callback) {
      this.addBlockCallback = callback;
      this.showBlockChooser = true;
    },

    saveExistingPage(id) {},

    saveExistingView(id) {},

    saveNewPage() {
      api.pages
        .post(this.builObject())
        .then(data => {
          this.blocks = data.data.blocks;
          this.id = data.id;
          this.object = data;
          alert("Page saved");
        })
        .catch(error => {
          console.log("Error while saving page:", error);
          alert("Could not save page");
        });
    },

    saveNewView() {}
  },

  created() {
    const query = qs.parse(window.location.search);
    const action = query.action;
    const id = Number(query.id);
    const type = query.type;

    let isQueryValid = true;

    // validates query
    if (action == null && type == null) {
      isQueryValid = false;
    } else if (type !== "page" && type !== "view") {
      isQueryValid = false;
    } else if (action !== "edit" && action !== "new") {
      isQueryValid = false;
    } else if (action === "edit" && !(id >= 1)) {
      isQueryValid = false;
    }

    if (!isQueryValid) {
      window.location = "/bp/admin/";
    } else {
      this.action = action;
      this.id = id;
      this.type = type;
      this.initialize();
    }

    api.users.this().then(data => {
      this.user = data;
    });
  }
};
</script>
