<template>
  <div
    :class="['block', { 'block-active': editMode, 'block-inactive': viewMode }]"
    :style="{ paddingTop: hover && editMode ? '1.6em' : '0.2em' }"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
  >
    <div class="buttons" v-if="editMode && hover">
      <div
        v-if="isHorizontal && index > 0"
        class="block-button"
        @click="$emit('moveLeft', index)"
      >
        <FontAwesomeIcon :icon="faLeft" />
      </div>

      <div
        v-if="isVertical && index > 0"
        class="block-button"
        @click="$emit('moveUp', index)"
      >
        <FontAwesomeIcon :icon="faUp" />
      </div>

      <div
        v-if="isHorizontal && index < parentLength - 1"
        class="block-button"
        @click="$emit('moveRight', index)"
      >
        <FontAwesomeIcon :icon="faRight" />
      </div>

      <div
        v-if="isVertical && index < parentLength - 1"
        class="block-button"
        @click="$emit('moveDown', index)"
      >
        <FontAwesomeIcon :icon="faDown" />
      </div>

      <div class="block-button" @click="$emit('delete', index)">
        <FontAwesomeIcon :icon="faTrash" />
      </div>

      <div
        v-if="editMode && hover"
        class="block-button"
        @click="$emit('edit', index)"
      >
        <FontAwesomeIcon :icon="faCog" />
      </div>
    </div>

    <template>
      <ColumnBlock
        v-if="type === column"
        :hover="hover"
        :mode="mode"
        @addBlock="onAddBlock"
      />

      <ImageBlock v-else-if="type === image" />

      <MarkdownBlock
        v-else-if="type === markdown"
        :index="index"
        :mode="mode"
      />

      <RawHtmlBlock v-else-if="type === raw_html" />

      <RowBlock
        v-else-if="type === row"
        :hover="hover"
        :mode="mode"
        @addBlock="onAddBlock"
      />

      <StringBlock v-else-if="type === string" :index="index" :mode="mode" />
    </template>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faChevronDown,
  faChevronLeft,
  faChevronRight,
  faChevronUp,
  faCog,
  faPlus,
  faTrashAlt
} from "@fortawesome/free-solid-svg-icons";

import Directions from "./directions";
import BlockTypes from "./block_types";
import EditMode from "./edit-mode";

import ColumnBlock from "./blocks/column";
import ImageBlock from "./blocks/image";
import MarkdownBlock from "./blocks/markdown";
import RawHtmlBlock from "./blocks/raw_html";
import RowBlock from "./blocks/row";
import StringBlock from "./blocks/string";

export default {
  name: "PageBlock",

  data() {
    return {
      hover: false
    };
  },

  components: {
    ColumnBlock,
    FontAwesomeIcon,
    ImageBlock,
    MarkdownBlock,
    RawHtmlBlock,
    RowBlock,
    StringBlock
  },

  props: {
    direction: {
      type: String,
      default: Directions.VERTICAL
    },

    index: {
      type: Number,
      required: true
    },

    mode: {
      type: String,
      default: EditMode.EDIT_MODE
    },

    parentLength: {
      type: Number,
      required: true
    },

    type: {
      type: String,
      required: true
    }
  },

  computed: {
    // modes
    editMode() {
      return this.mode === EditMode.EDIT_MODE;
    },
    viewMode() {
      return this.mode === EditMode.VIEW_MODE;
    },

    // Font Awesome
    faCog: () => faCog,
    faDown: () => faChevronDown,
    faPlus: () => faPlus,
    faLeft: () => faChevronLeft,
    faRight: () => faChevronRight,
    faTrash: () => faTrashAlt,
    faUp: () => faChevronUp,

    // Direction
    horizontal: () => Directions.HORIZONTAL,
    vertical: () => Directions.VERTICAL,

    isHorizontal() {
      this.direction === Directions.HORIZONTAL;
    },
    isVertical() {
      this.direction === Directions.VERTICAL;
    },

    // Block Types
    column: () => BlockTypes.COLUMN,
    image: () => BlockTypes.IMAGE,
    link: () => BlockTypes.LINK,
    markdown: () => BlockTypes.MARKDOWN,
    raw_html: () => BlockTypes.RAW_HTML,
    row: () => BlockTypes.ROW,
    string: () => BlockTypes.STRING
  },

  methods: {
    onAddBlock(callback) {
      this.$emit("addBlock", callback);
    }
  }
};
</script>
