@import "utils/colors";
@import "utils/mixins";

$width: 92%;

body {
  background: $white-ter;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

a {
  color: $white-ter;
  text-decoration: none;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
}

.blueprints {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 92%;
}

.blueprint {
  border-radius: 3px;
  border: 1px solid;
  margin: 1em;
  min-width: 15em;
  position: relative;

  a {
    text-decoration: none;

    &:active {
      color: black;
    }

    &:link {
      color: black;
    }

    &:visited {
      color: black;
    }
  }

  .delete {
    align-items: center;
    display: flex;
    background: $white-ter;
    border: 1px solid $black-ter;
    border-radius: 50%;
    color: $black-ter;
    justify-content: center;
    height: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 1.5em;
    z-index: 10;

    &:hover {
      background: $pink;
      color: $white;
      cursor: pointer;
    }
  }
}

.blueprint__name {
  @extend .blueprint__section;
  border-top: none !important;
  font-weight: bold;

  input {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.blueprint__section {
  align-items: center;
  border-top: solid black 1px;
  color: $black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 1.5em;
  text-align: center;
  width: 100%;

  input {
    background: none;
    border: none;
    font-size: 1em;
    text-align: center;
  }

  label {
    color: $grey;
    font-size: 0.8em;
  }

  select {
    background: none;
    font-color: $grey;
    font-size: 0.8em;
  }

  p {
    color: $blue-grey;
  }
}

.blueprint__section--editor {
  height: 2.5em !important;
  width: 50vw !important;
}

.branding {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2em 1em 1.5em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    margin: 0.1em 0.5em;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  width: 80vw;
}

.entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1em 0;
}

.entry {
  align-items: center;
  border: solid $blue-grey 1px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-between;
  height: 2.5em;
  padding: 0 0.5em;
  margin: 0.5em 0;
  width: 95%;

  a {
    align-items: center;
    border: solid $blue-grey 1px;
    border-radius: 3px;
    color: $black-ter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1.5em;
    margin: 0.2em;
    width: 1.5em;

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }

  a.delete {
    &:hover {
      background: $pink;
    }
  }

  a.edit {
    &:hover {
      background: $light-blue;
    }
  }

  label {
    background: $light-blue;
    font-size: 0.8em;
    border-radius: 3px;
    margin: 0 0.5em;
    padding: 0.2em 0.4em;
  }
}

.entry-editor__block {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 90%;

  input {
    background: $white-ter;
    border: none;
    border-bottom: solid $blue-grey 1px;
    font-size: 1.2em;
  }

  label {
    color: $blue-grey;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 0.5em;
  }

  textarea {
    background: $white-ter;
    border: solid $blue-grey 1px;
    box-sizing: border-box;
    font-size: 1.2em;
    overflow-y: visible;
    min-height: 10em;
    max-width: 100%;
    min-width: 100%;
  }
}

.entry-editor__block--title {
  input {
    font-size: 1.4em;
    font-weight: bold;
  }
}

.form-label {
  font-size: 1.2em;
  margin-right: 1em;
}

.form-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0.5em 0;
  width: $width;
}

.form-submit {
  background: $black-ter;
  color: $white-ter;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    background: $grey;
  }
}

.form-text-input {
  width: 40%;
  height: 2em;
  border-radius: 5px;
  border: 1px solid $grey;
  text-align: right;
  font-size: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: $width;
}

.header-action-area {
  display: flex;

  a {
    align-items: center;
    background: $blue;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: 0.2em 0.4em;

    &:hover {
      background: $cyan;
    }
  }
}

.horizontal-line {
  background: black;
  height: 0.2em;
  width: 92%;
}

.logo {
  border: 2px solid $white-ter;
  border-radius: 10px;
  height: 4em;
  width: 4em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  width: 100%;
}

.page-title {
  font-size: 1.8em;
}

.settings-section {
  width: $width;

  .info {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .description {
    color: $black-ter;
  }
}

.sidebar {
  background: $black-ter;
  color: $white-ter;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 20vw;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;

  a {
    color: $white-ter;
    margin: 0.2em 1.5em;
  }

  p {
    font-size: 0.8em;
    margin: 0.5em 1em;
  }

  .divider {
    @include touch {
      background: $white-ter;
      height: 1px;
      margin-top: 0.3em;
      width: 100%;
    }

    @include desktop {
      display: none;
    }
  }

  .icon {
    @include touch {
      color: $white-ter;
      height: 2em;
      width: 2em;
    }

    @include desktop {
      display: none;
    }
  }
}
