@import "utils/base";
@import "utils/colors";
@import "blocks/all";

.add-block {
  align-items: center;
  background: $white;
  border-radius: 1em;
  color: $light-blue;
  cursor: pointer;
  display: flex;
  font-size: 0.6em;
  height: 2em;
  justify-content: center;
  position: absolute;
  margin: 0;
  width: 2em;

  &:hover {
    background: $blue-grey;
    color: $white;
  }
}

.block {
  position: relative;
  transition: all ease 0.5s;

  .buttons {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.1em;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.block-active {
  border: 1px $white dashed;
  border-radius: 3px;
  padding: 0.2em;
  margin: 0.1em;
  min-height: 1em;
  min-width: 6em;
}

.block-button {
  align-items: center;
  border: 1px $white solid;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 0.9em;
  height: 1.2em;
  justify-content: center;
  padding: 0.1em;
  margin: 0.1em;
  width: 1.2em;

  &:hover {
    background: $blue-grey;
    color: $white;
  }
}

.block-inactive {
  border: 0 $white dashed;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.button {
  align-items: center;
  background: $blue-grey;
  border-radius: 3px;
  color: $white;
  display: flex;
  font-size: 1.2em;
  height: 1.5em;
  justify-content: center;
  min-width: 1.5em;
  padding: 0 0.5em;

  &:hover {
    background: $light-blue;
    cursor: pointer;
  }
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-blue;
  min-height: 100vh;
  width: 100vw;
}

.page {
  align-items: center;
  border: 0 dashed $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
}

.page-edit {
  border: 1px dashed $white;
  border-radius: 3px;
  padding: 0.2em;
  margin: 1em auto;
  max-width: 97%;
  max-height: 97%;
}

.mode {
  align-items: center;
  background: $blue-grey;
  border-radius: 1.5em;
  cursor: pointer;
  display: flex;
  height: 1.5em;
  justify-content: center;
  overflow: visible;
  position: relative;
  transition: all ease 0.5s;
  width: 3.5em;
  z-index: 100;

  .icon {
    font-size: 1em;
    margin: 0 0.2em;
  }

  .icon-active {
    color: $light-blue;
    z-index: 2;
  }

  .icon-inactive {
    color: $grey;
  }

  .mode-selector {
    background: $white-ter;
    border-radius: 50%;
    height: 2em;
    position: absolute;
    transition: all ease 0.5s;
    width: 2em;
    z-index: 1;
  }
}

.selector {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  position: fixed;
  top: 50vh;
  left: 50vw;
  background: hsla(0, 0%, 0%, 0.8);
  border-radius: 5px;
  padding: 0.5em;
  transform: translate(-50%, -50%);

  .close {
    color: $white;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    right: 0.4em;
    top: 0.4em;

    &:hover {
      color: $blue-grey;
    }
  }
}

.selector-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto 1em;
  max-width: 75vw;
}

.selector-button {
  border-radius: 5px;
  background: $light-blue;
  width: 6.5em;
  height: 6.5em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.8em;
  font-weight: bold;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $cyan;
  }

  p {
    margin: 0 0;
  }

  .icon {
    width: 4em;
    height: 4em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background: $blue-grey;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  color: $white-ter;
}

.toolbar {
  align-items: center;
  background: $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 2.5em;
  justify-content: space-between;
  padding: 0 1em;
  width: 100vw;
}
