@import "scss/utils/colors";


$padding: 2em;


body {
  align-items: center;
  background: $light-blue;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
  justify-items: center;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}


form {
  font-weight: 400;
  margin: auto 0;
  width: 100%;
}


h1, h2, h3, h4, h5, h6, p {
  font-weight: 100;
  margin: 0;
}


input[type=submit] {
  background: $indigo;
  border: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  padding: $padding/8 $padding/4;

  &:hover {
    background: $blue-grey;
  }
}


input[type=text], input[type=password] {
  background: white;
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  width: 90%;
}


.container {
  display: flex;
  margin: 1em 0;
  padding-left: $padding;
  width: 100%;
}


.errors {
  display: flex;
  color: $purple;
  flex-direction: column;
  margin: 0;
  padding: $padding/8 $padding;
  width: 100%;
}


.input {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  margin: 2px 0;
  padding: $padding/4 $padding;
  width: 100%;
}