<template>
  <div>
    <div class="header">
      <h1 class="page-title">Blueprints</h1>

      <div class="header-action-area">
        <router-link to="/blueprints/edit?action=new">Add new</router-link>
      </div>
    </div>

    <div class="horizontal-line"></div>

    <div class="blueprints">
      <div
        class="blueprint"
        :key="`blueprint_${index}`"
        v-for="(blueprint, index) in blueprints"
      >
        <i class="fas fa-times delete" @click="onRemoveBlueprint(index)"></i>

        <div class="blueprint__name">
          {{ blueprint.name[0].toUpperCase() + blueprint.name.substring(1) }}
        </div>

        <div class="blueprint__section">
          <label>string</label>
          <p>title</p>
        </div>

        <div
          class="blueprint__section"
          v-for="(block, block_index) in blueprint.data.blocks"
          :key="`block_${index}_${block_index}`"
        >
          <label>{{ block.type.toLowerCase() }}</label>
          {{ block.name }}
        </div>

        <div class="blueprint__section">
          <router-link :to="`/blueprints/edit?action=edit&id=${blueprint.id}`">
            <i class="fas fa-pencil-alt"></i>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
  computed: mapState({
    blueprints: state => state.blueprints
  }),

  methods: {
    onRemoveBlueprint(index) {
      const blueprint = this.$store.state.blueprints[index];
      const remove = confirm(
        `Are you sure you want to remove the blueprint "${blueprint.name}"?`
      );
      if (remove) {
        axios
          .delete(`/bp/api/blueprints/${blueprint.id}`)
          .then(response => {
            this.$store.commit("fetchBlueprints");
          })
          .catch(error => {
            console.log("Error when deleting blueprint:", error);
          });
      }
    }
  }
};
</script>
