<template>
  <div v-if="blueprint">
    <div class="header">
      <h1 class="page-title">{{ blueprint.name }}</h1>

      <div class="header-action-area">
        <router-link :to="`/entries/${id}/edit?action=new`">
          Add new
        </router-link>
      </div>
    </div>

    <div class="horizontal-line"></div>

    <div class="entries">
      <div class="entry" v-for="entry in entries">
        <div class="buttons">
          <label>{{ getDate(entry.date_created) }}</label>
          <p>{{ entry.name }}</p>
          <label>draft</label>
        </div>

        <div class="buttons">
          <router-link
            class="edit"
            :to="`/entries/${id}/edit?action=edit&id=${entry.id}`"
          >
            <i class="fas fa-pencil-alt"></i>
          </router-link>

          <a class="delete" to="" @click="onDeleteEntry(entry.id)">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "api";

export default {
  data() {
    return {
      entries: []
    };
  },

  props: {
    id: {
      type: Number,
      required: true
    }
  },

  computed: {
    blueprint() {
      const id = Number(this.$route.params.blueprint);
      const blueprints = this.$store.state.blueprints;
      return blueprints.reduce((res, bp) => {
        if (bp.id === id) {
          res = bp;
        }
        return res;
      }, blueprints[0]);
    }
  },

  methods: {
    fetchEntries() {
      const blueprint = this.$route.params.blueprint;
      api.entries.get(null, { blueprint: blueprint }).then(data => {
        this.entries = data;
      });
    },
    getDate(dateString) {
      const date = new Date(dateString);
      const year = date.getFullYear();
      const month = date.getMonth();
      const day = date.getDay();
      return `${year}-${month}-${day}`;
    },
    onDeleteEntry(id) {
      const remove = confirm("Do you really want to remove this Entry?");
      if (remove) {
        api.entries.delete(id).catch(error => {
          console.log("Error while deleting entry:", error);
        });
      }
    }
  },

  watch: {
    $route: "fetchEntries"
  },

  created() {
    this.fetchEntries();
  }
};
</script>
