<template>
  <div>
    <div class="header">
      <h1 class="page-title">Pages</h1>

      <div class="header-action-area">
        <a href="/bp/admin/editor/?action=new&type=page">Add New</a>
      </div>
    </div>

    <div class="horizontal-line"></div>

    <div></div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      pages: []
    };
  },

  methods: {
    fetchPages() {
      axios
        .get("/api/pages/")
        .then(response => {
          this.pages = response.data;
        })
        .catch(error => {
          console.log("Pages error:", error);
        });
    }
  },

  watch: {
    $route: "fetchPages"
  },

  created() {
    this.fetchPages();
  }
};
</script>
