<template>
  <div class="sidebar">
    <div class="branding">
      <router-link to="/">
        <div class="logo" />
      </router-link>

      <div>
        <p>
          <a href="/">
            <b>Site Name</b>
          </a>
        </p>

        <p>
          <router-link to="/settings/profile">
            <b>{{ $store.getters.username }}</b>
          </router-link>
        </p>
      </div>
    </div>

    <div class="sidebar__section">
      <p>Entries</p>
      <router-link
        :to="`/entries/${blueprint.id}`"
        :key="`blueprint_${index}`"
        v-for="(blueprint, index) in blueprints"
      >
        {{ toName(blueprint.name) }}
      </router-link>
      <router-link
        to="/blueprints/edit?action=new"
        v-if="blueprints.length === 0"
      >
        New Blueprint
      </router-link>
      <div class="divider"></div>
    </div>

    <div class="sidebar__section">
      <p>Media</p>
      <router-link to="/documents">Documents</router-link>
      <router-link to="/images">Images</router-link>
      <div class="divider"></div>
    </div>

    <div class="sidebar__section">
      <p>Site</p>
      <router-link to="/pages">Pages</router-link>
      <router-link to="/blueprints">Blueprints</router-link>
      <router-link to="/views">Views</router-link>
      <div class="divider"></div>
    </div>

    <div class="sidebar__section">
      <p>Settings</p>
      <router-link to="/billing">Billing</router-link>
      <router-link to="/settings/general">General</router-link>
      <router-link to="/settings/profile">Profile</router-link>
      <router-link to="/settings/users">Users</router-link>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: mapState({
    blueprints: state => state.blueprints
  }),

  methods: {
    toName(name) {
      return name[0].toUpperCase() + name.substring(1) + "s";
    }
  }
};
</script>
