<template>

    <div :style="hover && editMode ? 'margin-bottom: 1.4em; margin-top: 1em' : ''">

        <div class="__puzzle-column" style="position: relative; min-width: 1em; min-height: 1em;">
            <a
                v-if="editMode && hover"
                class="add-block"
                style="top: 0; left: 50%; transform: translate(-50%, -50%); z-index: 10"
                @click="onAddBlock(0)"
            >
                <FontAwesomeIcon :icon="faPlus" />
            </a>

            <div v-for="(block, index) in blocks" style="position: relative">
                <PageBlock
                    :key="block.block_id"
                    :type="block.type"
                    :index="index"
                    :parent-length="blocks.length"
                    :direction="vertical"
                    :mode="mode"

                    @moveUp="onMoveBlockUp"
                    @moveDown="onMoveBlockDown"

                    @delete="onRemoveBlock"
                    @edit=""

                    @addBlock="onChildAddBlockEvent"
                ></PageBlock>

                <a
                    v-if="editMode && hover"
                    class="add-block"
                    style="bottom: 0; left: 50%; transform: translate(-50%, 50%); z-index: 10"
                    @click="onAddBlock(index + 1)"
                >
                    <FontAwesomeIcon :icon="faPlus" />
                </a>
            </div>
        </div>

    </div>

</template>


<script>

    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
    import { faPlus } from '@fortawesome/free-solid-svg-icons'

    import Directions from '../directions'
    import EditModes from '../edit-mode'

    export default {

        name: 'ColumnBlock',

        data () {
            return {
                blockIndex: 0,
                blocks: [],
            }
        },

        components: {
            FontAwesomeIcon
        },

        props: {

            hover: {
                type: Boolean,
                default: false
            },

            mode: {
                type: String,
                required: true,
            }

        },

        computed: {

            vertical () { return Directions.VERTICAL },


            editMode () {
                return this.mode === EditModes.EDIT_MODE
            },

            faPlus () { return faPlus }

        },

        methods: {

            addBlock (block) {
                this.blocks.splice(this.blockIndex, 0, block)
            },

            onAddBlock (index) {
                this.blockIndex = index
                this.$emit('addBlock', this.addBlock)
            },

            onChildAddBlockEvent (callback) {
                this.$emit('addBlock', callback)
            },

            onMoveBlockDown (index) {
                if (index >= this.blocks.length - 1) return

                const nextBlock = this.blocks[index+1]
                const currentBlock = this.blocks[index]

                this.blocks = this.blocks.map( (block, idx) => {
                    if (idx === index + 1) return currentBlock
                    else if (idx === index) return nextBlock
                    else return block
                } )
            },

            onMoveBlockUp (index) {
                if (index === 0) return

                const lastBlock = this.blocks[index-1]
                const currentBlock = this.blocks[index]

                this.blocks = this.blocks.map( (block, idx) => {
                    if (idx === index - 1) return currentBlock
                    else if (idx === index) return lastBlock
                    else return block
                } )
            },

            onRemoveBlock (index) {
                this.blocks.splice(index, 1)
            },

        },

        beforeCreate() {
            this.$options.components.PageBlock = require('../pageblock').default
        }

    }

</script>