<template>
  <div vif="mde != null">
    <textarea id="`mde_${index}`"></textarea>
  </div>
</template>

<script>
import EasyMDE from "easymde";
import "easymde/dist/easymde.min.css";

import EditMode from "../edit-mode";

export default {
  data() {
    return {
      mde: null
    };
  },

  props: {
    index: {
      type: Number,
      required: true
    },

    mode: {
      type: String
    }
  },

  computed: {
    editMode() {
      return this.mode === EditMode.EDIT_MODE;
    }
  },

  methods: {
    markdown() {
      return this.mde.markdown(this.mde.value());
    },

    onInput(value) {
      console.log(value);
    }
  },

  mounted() {
    this.mde = new EasyMDE({
      autoDownloadFontAwesome: true,
      element: document.getElementById(`mde_${this.index}`),
      initialValue: ""
    });
    this.mde.codemirror.on("change", () => {
      this.onInput(this.mde.value());
    });
  }
};
</script>
