<template>
  <input @input="onInput" v-model="data" />
</template>

<script>
export default {
  data() {
    return {
      data: ""
    };
  },

  props: {
    index: {
      type: Number,
      required: true
    },
    initialData: {
      type: String,
      default: ""
    }
  },

  methods: {
    onInput() {
      this.$emit();
    }
  },

  created() {
    this.data = this.initialData;
  }
};
</script>
