<template>
  <div class="blueprint__section blueprint__section--editor">
    <div>
      <select v-model="type" @change="onChange">
        <option value="IMAGE">image</option>
        <option value="LINK">link</option>
        <option value="MARKDOWN">markdown</option>
        <option value="RAW_HTML">raw html</option>
        <option value="STRING">string</option>
      </select>
    </div>

    <input v-model="name" @input="onChange" />

    <a href="#" @click="onDelete">
      <i class="far fa-times-circle"></i>
    </a>
  </div>
</template>

<script>
export default {
  data() {
    return {
      focus: false,
      name: "Name",
      type: "IMAGE"
    };
  },

  props: {
    index: {
      type: Number,
      required: true
    },
    nameProp: {
      type: String,
      required: false,
      default: ""
    },
    typeProp: {
      type: String,
      required: false,
      default: ""
    }
  },

  methods: {
    onChange() {
      this.name = this.name.toLowerCase();
      this.$emit("update-block", this.index, this.name, this.type);
    },
    onDelete() {
      this.$emit("delete-block", this.index);
    }
  },

  created() {
    if (this.nameProp !== "") {
      this.name = this.nameProp.toLowerCase();
    }
    if (this.typeProp !== "") {
      this.type = this.typeProp;
    }
  }
};
</script>
