<template>
  <div>
    <div class="header">
      <h1 class="page-title"></h1>
      <div class="header-action-area">
        <a href="#" @click="onSave">Save</a>
      </div>
    </div>

    <div class="blueprint" v-if="blueprint">
      <div class="blueprint__name">
        <input
          placeholder="Blueprint's name"
          v-model="blueprint.name"
          @input="onInput"
        />
      </div>

      <div class="blueprint__section">
        <label>string</label>
        <p>title</p>
      </div>
      <div class="blueprint__section">
        <label>user</label>
        <p>created_by</p>
      </div>
      <div class="blueprint__section">
        <label>date</label>
        <p>date_created</p>
      </div>
      <div class="blueprint__section">
        <label>date</label>
        <p>date_modified</p>
      </div>

      <block
        v-for="(block, index) in blueprint.data.blocks"
        :key="'block_' + index"
        :index="index"
        :nameProp="block.name"
        :typeProp="block.type"
        @delete-block="onDeleteBlock"
        @update-block="onUpdateBlock"
      />

      <div class="blueprint__section">
        <a href="#" @click="onAddBlock">
          <i class="fas fa-plus-circle"></i>
        </a>
      </div>
    </div>
    <div v-else>Loading</div>
  </div>
</template>

<script>
import axios from "axios";
import Utils from "../../../utils";
import Block from "./block";

export default {
  components: { Block },

  data() {
    return {
      blueprint: {
        id: null,
        created_by: null,
        data: {
          blocks: []
        },
        name: ""
      }
    };
  },

  props: {
    action: {
      type: String
    },
    id: {
      type: Number
    }
  },

  methods: {
    fetchBlueprint() {
      // When page is accessed directly, the component can only read the
      // default store state, that's why fetching is recommended
      if (this.action === "new") {
      } else if (this.action === "edit" && this.id >= 1) {
        this.blueprint = null;
        axios
          .get(`/bp/api/blueprints/${this.id}/`)
          .then(response => {
            this.blueprint = response.data;
          })
          .catch(error => {
            console.log("Fetching blueprint error:", error);
          });
      } else {
        this.$router.replace(`/blueprints`);
      }
    },
    onAddBlock() {
      this.blueprint.data.blocks = [
        ...this.blueprint.data.blocks,
        {
          name: "Block's name",
          type: "STRING"
        }
      ];
    },
    onDeleteBlock(index) {
      this.blueprint.data.blocks = this.blueprint.data.blocks.filter(
        (val, i) => {
          if (index !== i) {
            return val;
          }
        }
      );
    },
    onInput() {
      this.blueprint.name = this.blueprint.name.toLowerCase().trim();
    },
    onNameBlur() {
      this.nameFocus = false;
    },
    onNameFocus() {
      this.nameFocus = true;
      this.$refs.name.focus();
    },
    onSave() {
      if (this.action === "new") {
        axios
          .post(`/bp/api/blueprints/`, this.blueprint)
          .then(response => {
            const blueprint = response.data;
            console.log("Blueprint saved:", blueprint);
            this.$router.replace(
              `/blueprints/edit?action=edit&id=${blueprint.id}`
            );
            alert("Blueprint saved.");
          })
          .catch(error => {
            console.log("Blueprint saving error:", error);
            alert("Could not save blueprint.");
          });
      } else if (this.action === "edit") {
        axios
          .put(`/bp/api/blueprints/${this.id}/`, blueprint.id)
          .then(response => {
            console.log("Blueprint saved:", response.data);
            alert("Blueprint saved.");
          })
          .catch(error => {
            console.log("Blueprint saving error:", error);
            alert("Could not save blueprint.");
          });
      }
      this.$store.commit("fetchBlueprints");
    },
    onUpdateBlock(index, name, type) {
      this.blueprint.data.blocks = this.blueprint.data.blocks.map((val, i) => {
        if (index === i) {
          return {
            name: name,
            type: type
          };
        }
        return val;
      });
    }
  },

  watch: {
    $route: "fetchBlueprint"
  },

  created() {
    this.fetchBlueprint();
  }
};
</script>
