body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
