{% load admin_tags static %}

<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous"
  />

  {% block extra_css %}{% endblock %}

  <title>
    Admin | Puzzle Admin
  </title>
</head>

<body>
  <div id="admin"></div>

  <script src="{% static 'js/public/admin.js' %}"></script>
</body>
