{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/blueprint-editor.css' %}">
{% endblock %}

{% block content %}

<div id="editor"></div>

{% endblock %}


{% block extra_js %}
<script src="{% static 'js/public/blueprint_editor.js' %}">
</script>
{% endblock %}
