{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="blueprints"></div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/public/blueprints.js' %}"></script>
{% endblock %}
