{% load static %}

<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/editor.css' %}"
  />

  <title>
    {{ page_title }} | Puzzle Admin
  </title>
</head>

<body>
  <div id="editor"><h1>Loading...</h1></div>
  <script src="{% static 'js/public/editor.js' %}"></script>
</body>
