<!DOCTYPE html>

{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

  <title>
    Login | Blueprint
  </title>
</head>

<body>
  {% spaceless %}

  <form action="" method="post">
    {% csrf_token %}

    <div class="container">
      <h1>Sign in to Blueprint</h1>
    </div>

    <div class="input">
      {{ form.username }}
    </div>

    <div class="input">
      {{ form.password }}
    </div>

    <div class="errors">
      <span>
        {{ form.non_field_errors }}
      </span>

      <span>
        {{ form.username.errors }}
      </span>

      <span>
        {{ form.password.errors }}
      </span>
    </div>

    <div class="container">
      <input type="submit" value="sign in" />
    </div>
  </form>

  {% endspaceless %}
</body>
