{% extends "base.html" %}

{% load static %}

{% block content %}
    <div id="pages"></div>
{% endblock %}

{% block extra_js %}
<script src="{% static  'js/public/pages.js' %}"></script>
{% endblock %}
