{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="header">
        <h1 class="page-title">{{ page_title }}</h1>
    </div>

    <div class="settings-section">

        <div class="info">
            <p class="title">Name & description</p>
            <p class="description"><i>Your site's name and a brief description of it</i></p>
        </div>

        <hr>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-section">
                <label class="form-label" for="{{ form.site_name.id_for_label }}">Name: </label>
                {{ form.site_name | add_class:"form-text-input" }}
                {{ form.site_name.errors }}
            </div>
            <div class="form-section">
                <label class="form-label" for="{{ form.site_description.id_for_label }}">Description: </label>
                {{ form.site_description | add_class:"form-text-input" }}
                {{ form.site_description.errors }}
            </div>
            <div class="form-section">
                <input class="form-submit" type="submit" value="Save">
            </div>
        </form>

    </div>
{% endblock %}