<template>
  <div v-if="blueprint !== null">
    <div class="header">
      <h1 class="page-title" v-if="action == 'new'">
        New {{ blueprint.name }}
      </h1>
      <h1 class="page-title" v-else>Edit {{ blueprint.name }}</h1>

      <div class="header-action-area">
        <a @click="onSave">Save</a>
      </div>
    </div>

    <div class="horizontal-line" />

    <div class="entries">
      <div class="entry-editor__block entry-editor__block--title">
        <label>Title</label>
        <input v-model="title" placeholder="Title" />
      </div>

      <Block
        v-for="(block, index) in blocks"
        :callback="onUpdateBlock"
        :index="index"
        :key="`block_${index}`"
        :name="block.name"
        :type="block.type"
        :value="block.value"
      />
    </div>
  </div>
</template>

<script>
import api from "api";
import { mapState } from "vuex";
import Block from "./blocks/block";

export default {
  components: { Block },

  data() {
    return {
      blueprint: null,
      blocks: [],
      title: ""
    };
  },

  props: {
    action: {
      type: String
    },
    bp_id: {
      type: Number
    },
    id: {
      type: Number
    }
  },

  methods: {
    initialize() {
      if (this.action === "new") {
        api.blueprints
          .get(this.bp_id)
          .then(data => {
            this.blueprint = data;
            this.blocks = data.data.blocks.map(bp => {
              return {
                ...bp,
                value: ""
              };
            });
          })
          .catch(error => {
            console.log("Error while fetching blueprint [entry]:", error);
          });
      } else if (this.action === "edit" && this.id >= 1) {
        api.blueprints
          .get(this.bp_id)
          .then(data => {
            this.blueprint = data;
            api.entries.get(this.id).then(entry => {
              this.title = entry.name;
              this.blocks = entry.data.blocks;
            });
          })
          .catch(error => {
            console.log("Error while fetching blueprint [entry]:", error);
          });
      } else {
        this.$router.replace(`/entries/${this.bp_id}`);
      }
    },
    onSave() {
      switch (this.action) {
        case "new":
          api.entries
            .post({
              ...this.blueprint,
              blueprint: this.bp_id,
              created_by: this.$store.state.user.id,
              data: {
                blocks: this.blocks
              },
              name: this.title
            })
            .then(response => {
              const blueprint = response.data;
              alert("Entry saved");
              this.$router.replace(
                `/entries/${this.bp_id}/edit?action=edit&id=${blueprint.id}`
              );
            })
            .catch(error => {
              console.log("Error while POSTing entry:", error);
            });
          break;
        case "edit":
          api.entries
            .put(this.id, {
              ...this.blueprint,
              blueprint: this.bp_id,
              created_by: this.$store.state.user.id,
              data: {
                blocks: this.blocks
              },
              name: this.title
            })
            .then(response => {
              this.blueprint = response.data;
              alert("Entry saved");
              this.initialize();
            })
            .catch(error => {
              console.log("Error while PUTing entry:", error);
            });
          break;
        default:
          break;
      }
    },
    onUpdateBlock(index, value) {
      for (let i = 0; i < this.blocks.length; i++) {
        if (i === index) {
          this.blocks[i] = {
            ...this.blocks[i],
            value: value
          };
          break;
        }
      }
    }
  },

  watch: {
    $route: "initialize"
  },

  mounted() {
    this.initialize();
  }
};
</script>
