<template>
  <div class="entry-editor__block">
    <label>{{ name.toLowerCase() }} - {{ type.toLowerCase() }}</label>

    <ImageBlock v-if="type === 'IMAGE'" />
    <Markdown
      v-else-if="type === 'MARKDOWN'"
      :callback="callback"
      :index="index"
      :name="name"
      :value="value"
    />
    <StringBlock
      v-else-if="type === 'STRING'"
      :callback="callback"
      :index="index"
      :name="name"
      :value="value"
    />

    <p v-else><b>Not yet implemented</b></p>
  </div>
</template>

<script>
import ImageBlock from "./image";
import Markdown from "./markdown";
import StringBlock from "./string";

export default {
  components: { ImageBlock, Markdown, StringBlock },

  props: {
    callback: {
      type: Function,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    name: {
      type: String
    },
    type: {
      type: String
    },
    value: {
      type: String
    }
  }
};
</script>
