<template>
  <textarea id="mde" />
</template>

<script>
import EasyMDE from "easymde";
import "easymde/dist/easymde.min.css";

export default {
  data() {
    return {
      mde: null
    };
  },

  props: {
    callback: {
      type: Function,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      default: ""
    }
  },

  methods: {
    onInput(value) {
      this.callback(this.index, value);
    }
  },

  mounted() {
    this.mde = new EasyMDE({
      autoDownloadFontAwesome: false,
      element: document.getElementById("mde"),
      initialValue: this.value
    });
    this.mde.codemirror.on("change", () => {
      this.onInput(this.mde.value());
    });
  }
};
</script>
