<template>
  <input :placeholder="name" v-model="string" @input="onInput" />
</template>

<script>
export default {
  data() {
    return {
      string: ""
    };
  },

  props: {
    callback: {
      type: Function,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      default: "string"
    },
    value: {
      type: String,
      default: ""
    }
  },

  methods: {
    onInput() {
      this.callback(this.index, this.string);
    }
  },

  created() {
    this.string = this.value;
  }
};
</script>
