body {
  background: #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
}

.blueprints {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 92%;
}

.blueprint {
  border-radius: 3px;
  border: 1px solid;
  margin: 1em;
  min-width: 15em;
  position: relative;
}
.blueprint a {
  text-decoration: none;
}
.blueprint a:active {
  color: black;
}
.blueprint a:link {
  color: black;
}
.blueprint a:visited {
  color: black;
}
.blueprint .delete {
  align-items: center;
  display: flex;
  background: #e6e6e6;
  border: 1px solid #1a1a1a;
  border-radius: 50%;
  color: #1a1a1a;
  justify-content: center;
  height: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 1.5em;
  z-index: 10;
}
.blueprint .delete:hover {
  background: #E91E63;
  color: #f2f2f2;
  cursor: pointer;
}

.blueprint__name {
  border-top: none !important;
  font-weight: bold;
}
.blueprint__name input {
  font-size: 1.2em;
  font-weight: bold;
}

.blueprint__section, .blueprint__name {
  align-items: center;
  border-top: solid black 1px;
  color: #0d0d0d;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 1.5em;
  text-align: center;
  width: 100%;
}
.blueprint__section input, .blueprint__name input {
  background: none;
  border: none;
  font-size: 1em;
  text-align: center;
}
.blueprint__section label, .blueprint__name label {
  color: #9E9E9E;
  font-size: 0.8em;
}
.blueprint__section select, .blueprint__name select {
  background: none;
  font-color: #9E9E9E;
  font-size: 0.8em;
}
.blueprint__section p, .blueprint__name p {
  color: #607D8B;
}

.blueprint__section--editor {
  height: 2.5em !important;
  width: 50vw !important;
}

.branding {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2em 1em 1.5em;
}
.branding div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.branding p {
  margin: 0.1em 0.5em;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  width: 80vw;
}

.entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1em 0;
}

.entry {
  align-items: center;
  border: solid #607D8B 1px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-between;
  height: 2.5em;
  padding: 0 0.5em;
  margin: 0.5em 0;
  width: 95%;
}
.entry a {
  align-items: center;
  border: solid #607D8B 1px;
  border-radius: 3px;
  color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1.5em;
  margin: 0.2em;
  width: 1.5em;
}
.entry a:hover {
  color: #f2f2f2;
  cursor: pointer;
}
.entry a.delete:hover {
  background: #E91E63;
}
.entry a.edit:hover {
  background: #03A9F4;
}
.entry label {
  background: #03A9F4;
  font-size: 0.8em;
  border-radius: 3px;
  margin: 0 0.5em;
  padding: 0.2em 0.4em;
}

.entry-editor__block {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 90%;
}
.entry-editor__block input {
  background: #e6e6e6;
  border: none;
  border-bottom: solid #607D8B 1px;
  font-size: 1.2em;
}
.entry-editor__block label {
  color: #607D8B;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 0.5em;
}
.entry-editor__block textarea {
  background: #e6e6e6;
  border: solid #607D8B 1px;
  box-sizing: border-box;
  font-size: 1.2em;
  overflow-y: visible;
  min-height: 10em;
  max-width: 100%;
  min-width: 100%;
}

.entry-editor__block--title input {
  font-size: 1.4em;
  font-weight: bold;
}

.form-label {
  font-size: 1.2em;
  margin-right: 1em;
}

.form-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0.5em 0;
  width: 92%;
}

.form-submit {
  background: #1a1a1a;
  color: #e6e6e6;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
.form-submit:hover {
  background: #9E9E9E;
}

.form-text-input {
  width: 40%;
  height: 2em;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  text-align: right;
  font-size: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 92%;
}

.header-action-area {
  display: flex;
}
.header-action-area a {
  align-items: center;
  background: #2196F3;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 0.2em 0.4em;
}
.header-action-area a:hover {
  background: #00BCD4;
}

.horizontal-line {
  background: black;
  height: 0.2em;
  width: 92%;
}

.logo {
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  height: 4em;
  width: 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  width: 100%;
}

.page-title {
  font-size: 1.8em;
}

.settings-section {
  width: 92%;
}
.settings-section .info {
  display: flex;
  justify-content: space-between;
}
.settings-section .title {
  font-size: 1.2em;
  font-weight: bold;
}
.settings-section .description {
  color: #1a1a1a;
}

.sidebar {
  background: #1a1a1a;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 20vw;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.sidebar__section a {
  color: #e6e6e6;
  margin: 0.2em 1.5em;
}
.sidebar__section p {
  font-size: 0.8em;
  margin: 0.5em 1em;
}
@media only screen and (max-width: 1023px) {
  .sidebar__section .divider {
    background: #e6e6e6;
    height: 1px;
    margin-top: 0.3em;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .sidebar__section .divider {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .sidebar__section .icon {
    color: #e6e6e6;
    height: 2em;
    width: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .sidebar__section .icon {
    display: none;
  }
}

/*# sourceMappingURL=admin.css.map */
