body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu a {
  text-decoration: none;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: visible;
  width: 100vw;
}

.__puzzle-column {
  display: flex;
  flex-direction: column;
  min-height: 2em;
}

.__puzzle-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*# sourceMappingURL=puzzle.css.map */
